.custom-marker-icon {
  background: none;
  border: none;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content {
  margin: 8px;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
